@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --paleblue: #e0e8ff;
    --brightblue: #3829e0;
    --verypaleblue: #f5f7ff;
    --desaturatedblue: #7280a7;
    --darkblue: #1f2f56;

    --redhat: Red Hat Display, arial, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--paleblue);
    width: 100vw;
    height: 100vh;
    font-family: var(--redhat);
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    background-color: var(--verypaleblue);
    width: 340px;
    min-height: 580px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.order-img{
    height: 180px;
    width: 350px;
    background: url(../images/illustration-hero.svg) center center no-repeat;
    background-size: cover;
}
.order-text{
    padding: 38px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}
.order-text h1{
    color: var(--darkblue);
    font-weight: 900;
}
.order-text p{
    color: var(--desaturatedblue);
    font-size: 16px;
    line-height: 25px;
}
.order-price{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.order-price .bold{
    font-weight: 700;
    color: var(--darkblue);
}
.order-price a{
    padding-left: 25px;
    color: var(--brightblue);
    font-size: 15px;
}
.order-buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.order-buttons input{
    font-family: var(--redhat);
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 12px;
}
.order-buttons .payment{
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.247);
    background-color: var(--brightblue);
    color: var(--verypaleblue);
}
.order-buttons .payment:hover{
    background-color: var(--darkblue);
}
.order-buttons .cancel{
    color: var(--desaturatedblue);
}
.order-buttons .cancel:hover{
    background-color: var(--desaturatedblue);
    color: var(--darkblue);
}
