.canvas {
    width: 500px;
    height: 600px;
    background-color: #cf0649;
    overflow: hidden;
    filter: blur(2px);
  }
  
  .frame {
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
  }
  
  .one {
    width: 425px;
    height: 150px;
    background-color: #79ef62;
    margin: 20px auto;
    box-shadow: 0 0 3px 3px #62ef85;
    border-radius: 9px;
    transform: rotate(-0.6deg);
  }
  
.two {
    width: 475px;
    height: 200px;
    background-color: #7c3df1;
    margin: 0 auto 20px;
    box-shadow: 0 0 3px 3px #7e42ee;
    border-radius: 8px 10px;
    transform: rotate(0.4deg);
  }
  
  .one, .two {
    filter: blur(1px);
  }
  
  .three {
    width: 91%;
    height: 28%;
    background-color: #0398b2;
    margin: auto;
    filter: blur(2px);
    box-shadow: 0 0 5px 5px #0398b2;
    border-radius: 30px 25px 60px 12px;
    transform: rotate(-0.2deg);
  }