@charset "UTF-8";
@media screen and (min-width: 1000px) {
    main.product-content{
        flex-direction: row;
    }
    section{
        width: 1050px;
        height: 450px;
    }
    .div-img{
        height: 100%;
        float: right;
        background: linear-gradient(#522b7e88,#5a28777e), url("../images/team.jpg") center center no-repeat;
        background-size: cover;
        width: 50%;
    }
    .div-text{
        padding: 50px;
        text-align: left;
    }
    .div-content{
        padding-bottom: 50px;
    }
    .div-content h1{
        font-size: 30px;
    }
    .div-content p{
        font-size: 16px;
    }
    .div-number{
        flex-direction: row;
        gap: 40px;
    }
}